<a href="https://colab.research.google.com/github/profkalinowski/livroescd/blob/main/livro_ESCD_oo_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Livro Engenharia de Software para Ciência de Dados (Ed. Casa do Código)
Marcos Kalinowski, Tatiana Escovedo, Hugo Villamizar e Hélio Lopes

### Orientação a Objetos com Python

### Exemplo de código 1: Definição de Classe e instanciação dos objetos

In [ ]:
# Definição da classe
class Aluno:

    def __init__(self):
    	self.nome = "Zé"
    	self.idade = 18

    def dobra_idade(self):
        return self.idade * 2

# Instanciação dos objetos: criando (instanciando) 2 objetos do tipo (da classe) Aluno

# a variável aluno_1 guarda um objeto da classe Aluno, que contém nome, idade e dobra_idade
aluno_1 = Aluno()
aluno_1.nome = "Maria" # definindo que o nome do aluno_1 é "Maria"

# a variável aluno_2 guarda OUTRO objeto da classe Aluno, que contém nome, idade e dobra_idade
aluno_2 = Aluno()
aluno_2.idade = 21 # definindo que a idade do aluno_2 é 21

print(aluno_1.nome) # imprime Maria (valor que definimos)
print(aluno_2.nome) # imprime Zé (valor default)

print(aluno_1.dobra_idade()) # dobra a idade 18 (valor default)
print(aluno_2.dobra_idade()) # dobra a idade 21 (valor que definimos)

# ao mudar o valor de nome em aluno_1, o aluno_2 continua inalterado
aluno_1.nome = "Ana"
print("Nome do aluno_1:", aluno_1.nome)
print("Nome do aluno_2:", aluno_2.nome)

Maria
Zé
36
42
Nome do aluno_1: Ana
Nome do aluno_2: Zé

### Exemplo de código 2: Parâmetro self

In [ ]:
class Calculadora:

    def __init__(self):
    	self.valor = 5

    def add(self, numero):
      # não podemos chamar a variável "valor" sem "self" porque "valor" é uma variável de cada objeto Calculadora
      return self.valor + numero;

total = Calculadora()
print("total = %d" % total.add(3)) # self pegará o valor 5 e o valor 3 irá para numero

total = 8

### Exemplo de código 3: Método \_\_init__

In [ ]:
class Carro:

    def __init__(self):
        self.cor = "preto"

# um novo carro é criado com cor = "preto"
carro_1 = Carro()
print(carro_1.cor)

# alterando o valor da color de carro_1 para "branco"
carro_1.cor = "branco"
print(carro_1.cor)

preto
branco

## Encapsulamento

In [ ]:
class Conta:
    
    def __init__(self, numero, saldo):
        self.numero = numero
        self.__saldo = saldo

conta1234 = Conta(1234, 750.84)
conta1234.numero

1234

In [ ]:
conta1234.__saldo

AttributeError: ignored

In [ ]:
conta1234._Conta__saldo

750.84

In [ ]:
dir(conta1234)

['_Conta__saldo',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'numero']

In [ ]:
conta1234.__saldo = 1000

In [ ]:
conta1234._Conta__saldo

750.84

In [ ]:
dir(conta1234)

['_Conta__saldo',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__saldo',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'numero']

In [ ]:
class Conta:

    def __init__(self, numero, saldo):
        self.__numero = numero
        self.__saldo = saldo

    def consulta_saldo(self):
        return self.__saldo

conta1234 = Conta(1234, 750.84)
conta1234.consulta_saldo()

750.84

## Herança

In [ ]:
# Classe Pessoa
class Pessoa:

    def __init__(self, nome, login, senha):
        self.__nome = nome
        self.__login = login
        self.__senha = senha

    def consulta_nome(self):
        return self.__nome

# Classe Aluno
class Aluno(Pessoa):

    def __init__(self, nome, login, senha, curso):
        Pessoa.__init__(self, nome, login, senha)
        self.__curso = curso

    def consulta_curso(self):
        return self.__curso

# Classe Professor
class Professor(Pessoa):

    def __init__(self, nome, login, senha, titulacao):
        Pessoa.__init__(self, nome, login, senha)
        self.__titulacao = titulacao

    def consulta_titulacao(self):
        return self.__titulacao

In [ ]:
pessoa1 = Pessoa('Maria', 'mary', 'm123')
print(pessoa1.consulta_nome())

aluna1 = Aluno('Viviane', 'vivi', 'v123', 'Informática') 
print(aluna1.consulta_nome())
print(aluna1.consulta_curso())

prof1 = Professor('Tatiana', 'tati', 't123', 'Doutorado')
print(prof1.consulta_nome())
print(prof1.consulta_titulacao())

Maria
Viviane
Informática
Tatiana
Doutorado

## Polimorfismo

In [ ]:
class EntradaUniversidade:

    def __init__(self):
        pass

    def permite_entrada(self, pessoa):
        print("Pode entrar, " + pessoa.consulta_nome())

entrada = EntradaUniversidade()
entrada.permite_entrada(prof1)

Pode entrar, Tatiana

In [ ]:
# Classe Coordenador
class Coordenador(Pessoa):
    
    def __init__(self, nome, login, senha):
        Pessoa.__init__(self, nome, login, senha)

coord1 = Coordenador('Marcos', 'mk', 'm123')
entrada.permite_entrada(coord1)

Pode entrar, Marcos

## Abstração

In [ ]:
import abc

class Pessoa(abc.ABC):

    def __init__(self, nome, login, senha):
        self.nome = nome
        self.login = login
        self.senha = senha

    @abc.abstractmethod
    def consulta_nome(self):
        raise NotImplementedError()

In [ ]:
pessoa1 = Pessoa()

TypeError: ignored

## Associação, Agregação e Composição

In [ ]:
class Aluno(Pessoa):
    
    def __init__(self, nome, login, senha, curso, orientador):
        Pessoa.__init__(self, nome, login, senha)
        self.__curso = curso
        self.__orientador = orientador
    
    def consulta_curso(self):
        return self.__curso
    
    def consulta_orientador(self):
        return self.__orientador
    
    def consulta_nome(self):
        return self.nome

In [ ]:
professorMarcos = Professor('Marcos', 'mk', 'm123', 'Doutor')

novoAluno = Aluno('Isabela', 'isa', 'i123', 'Engenharia', professorMarcos)

In [ ]:
import datetime

class Historico():

    def __init__(self):
        self.__data_matricula = datetime.datetime.today()
        self.__ocorrencias = []

    def imprime(self):
        print("Matriculado em {}".format(self.__data_matricula))
        print("Ocorrências:")
        for o in self.__ocorrencias:
            print("- ", o)
            
    def add_ocorrencia(self, ocorrencia):
        self.__ocorrencias.append(ocorrencia)

In [ ]:
class Aluno(Pessoa):

    def __init__(self, nome, login, senha, curso, orientador):
        Pessoa.__init__(self, nome, login, senha)
        self.__curso = curso
        self.__orientador = orientador
        self.__historico = Historico()

    def consulta_curso(self):
        return self.__curso

    def consulta_orientador(self):
        return self.__orientador

    def consulta_nome(self):
        return self.__nome

    def gera_ocorrencia(self, ocorrencia):
        self.__historico.add_ocorrencia(ocorrencia)
        
    def consulta_historico(self):
        self.__historico.imprime()

In [ ]:
novoAluno = Aluno('Isabela', 'isa', 'i123', 'Engenharia', professorMarcos)
novoAluno.gera_ocorrencia("Matriculou-se em Calculo 1")
novoAluno.gera_ocorrencia("Nota final de Calculo 1: 9,7")
novoAluno.consulta_historico()

Matriculado em 2023-03-05 02:39:19.883171
Ocorrências:
-  Matriculou-se em Calculo 1
-  Nota final de Calculo 1: 9,7